@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.btn {
  @apply bg-slate-200 px-4 py-2 rounded-md font-semibold hover:scale-105 transition;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-2xl font-bold my-4;
}

p.content {
  @apply leading-loose;
}

.link {
  @apply text-[#7563DF] font-bold max-w-full overflow-hidden text-ellipsis;
}

.primary-btn {
  @apply px-4 py-2 bg-slate-800 text-white rounded-md;
}

input,
textarea {
  @apply px-4 py-2 border border-slate-300 rounded-md;
}

textarea {
  @apply h-36;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
